# --- NoetIA Labs GitIgnore ---

# Entornos virtuales
__pycache__/
*.py[cod]
venv/
.venv/

# Seguridad 
.env
.streamlit/secrets.toml
**/*token*.json
**/*credentials*.json

# Bases de Datos 
*.sqlite3
.env
**/*token*.json



# Archivos de sistema
.DS_Store
Thumbs.db
.vscode/

#streamlit 
.streamlit/

.env
credentials.json
__pycache__/
*.db